<div class="table-responsive">
    <table class="table">
        <caption><%= maps.length %> values found</caption>
        <thead>
            <tr>
                <th>ID Map</th>
                <th>Robot number</th>
                <th>Resolution</th>
                <th>Width</th>
                <th>Height</th>
            </tr>
        </thead>
        <tbody>
            <% maps.forEach(function(map){ %>
                <tr>
                    <th scope=row><a href="/waypointsFromMap/<%= map.idMaps %>"><%= map.idMaps %></a></th>
                    <td><%= map.idRobot %></td>
                    <td><%= map.resolution %></td>
                    <td><%= map.width %></td>
                    <td><%= map.height %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>