<div class="table-responsive">
    <table class="table">
        <caption><%= sensor.length %> values found</caption>
        <thead>
            <tr>
                <th>Line number</th>
                <th>Robot number</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Felt temperature</th>
            </tr>
        </thead>
        <tbody>
            <% sensor.forEach(function(sensor_value){ %>
                <tr>
                    <th scope=row><%= sensor_value.id %></th>
                    <td><%= sensor_value.idRobot %></td>
                    <td><%= sensor_value.date %></td>
                    <td><%= sensor_value.value_temp %></td>
                    <td><%= sensor_value.value_hum %></td>
                    <td><%= sensor_value.value_felt %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>