<div class="table-responsive">
    
    <table class="table">
        <caption>Number of waypoints : <span class="number"><%= waypoints.length %></span></caption>
        <thead>
            <tr>
                <th>ID waypoint</th> 
				<th>X</th> 
				<th>Y</th> 
				<th>Z</th>
				<th>W (rotation)</th>	
            </tr>
        </thead>
        <tbody>
            <% var i = 1; %>
            <% waypoints.forEach(function(waypoint){ %>
                <tr class="row<%= i %>"> 
                    <th scope=row><%= waypoint.idwaypoints %></th> 
                    <td class="x<%= i %>"><%= waypoint.wp_x %></td> 
                    <td class="y<%= i %>"><%= waypoint.wp_y %></td> 
                    <td><%= waypoint.wp_z %></td> 
                    <td>1</td> 
                </tr>
                <% i = i + 1; %>
            <% }); %>
        </tbody>
    </table>
	  <div id="tool"></div>
	  <canvas id="myCanvas" width="<%= map.height %>" height="<%= map.width %>" >
	Your browser does not support the HTML5 canvas tag.</canvas>
	  <script>
	  window.onload = function() {
		var c = document.getElementById("myCanvas");
		var ctx = c.getContext("2d");
		var map = <%- map.map_data %>
		var height = <%- map.height %>
		var width = <%- map.width %>
		var resolution = <%- map.resolution %>
		
		var idx = 0
		for(var i = 0; i<height;i++){
			for(var j = 0; j<width;j++){
				if(map[idx] == 0){
					ctx.fillStyle="#FFFFFF";
				}
				else if(map[idx] == -1){
					ctx.fillStyle="#D3D3D3";
				}
				else {
					ctx.fillStyle="#000000";
				}
				ctx.fillRect( i, j, 1, 1 );
				idx++
			}
		}
		ctx.stroke();
		var n = document.getElementsByClassName("number");
		  for(i = 1; i <= n.item(0).innerText;i++)
		  {
			var x = document.getElementsByClassName("x" + i);
			var y = document.getElementsByClassName("y" + i);
			drawWaypoint(ctx, parseFloat(y.item(0).innerText),  parseFloat(x.item(0).innerText));		  
		  }
	  
		function drawWaypoint(context, x, y)
		{
			context.beginPath();
			context.arc((x) / resolution, (y) / resolution, 3, 0, 2 * Math.PI, true);
			context.fillStyle = 'red';
			context.fill();
			context.lineWidth = 1;
			context.strokeStyle = 'green';
			context.stroke();
		}
		

		c.addEventListener('mousemove', function(evt) {
			var mousePos = getMousePos(c, evt);

            for(j = 1; j <= n.item(0).innerText;j++)
            {
                row = "row"+j;
                $('.' + row).removeClass("info");
            }

            for(i = 1; i <= n.item(0).innerText;i++)
		  {
			var x = document.getElementsByClassName("x" + i).item(0).innerText;
			var y = document.getElementsByClassName("y" + i).item(0).innerText;
			if ((mousePos.x-((y)/resolution))*(mousePos.x-((y)/resolution))+(mousePos.y-((x)/resolution))*(mousePos.y-((x)/resolution)) < 10*10)
			{
                row = "row"+i;
				$('.' + row).addClass("info");
			}	  
		  }
			}, false);
		}
		
		function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
	  
	  }
		</script> 

    </div><!-- /.container -->